{% assign largest = resized | sort: 'width' | last %}
{% capture srcset %}
{% for i in resized %}{{ site.url }}/{{ i.path }} {{ i.width }}w, {% endfor %}
{% endcapture %}
<figure>
  <img src="{{ site.url }}/{{ largest.path }}" alt="{{ alt }}" srcset="{{ srcset }} {{ site.url }}/{{ path }} {{ original.width }}w">
  {% if caption or credit %}
    <figcaption>
      {{ caption }}
      {% if credit %}
        <span class="credit">Photo: <a href="{{credit_url}}">{{credit}}</a></span>
      {% endif %}
    </figcaption>
  {% endif %}
</figure>
