{% assign largest = resized | sort: 'width' | last %}
{% capture srcset %}
{% for i in resized %}{{ site.url }}/{{ i.path }} {{ i.width }}w, {% endfor %}
{% endcapture %}
<figure data-src="{{ site.url }}/{{ largest.path }}" data-srcset="{{ srcset }} {{ site.url }}/{{ path }} {{ original.width }}w" data-sizes="(min-width: 40em) 80vw, 100vw" data-sub-html=".caption">
  {% if noscript %}<noscript>{% endif %}
  <img src="{{ site.url }}/{{ largest.path }}" alt="{{ alt }}" srcset="{{ srcset }} {{ site.url }}/{{ path }} {{ original.width }}w">
  {% if noscript %}</noscript>{% endif %}
  <figcaption class="caption">
    {{ caption }}
    {% if credit %}
      <span class="credit">Photo: <a href="{{credit_url}}">{{credit}}</a></span>
    {% endif %}
  </figcaption>
</figure>
