---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

$accent-color: tomato;
@import "so-simple";

$gallery-background: #e9e7e5;
$gallery-caption: #e3e2e0;

.single-image, .gallery {
  background: $gallery-background;
  margin: 1rem 0 1.5rem;

  figure {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    figcaption {
      align-self: stretch;
      background: $gallery-caption;
      font-style: italic;
      margin: 0;
      p {
        margin: 0.5rem;
      }

      .credit {
        font-style: normal;
        opacity: 0.8;
        margin-left: 0.2rem;
      }
    }

    img {
      max-height: 100vh;
    }
  }
}

table.summary {
  td.amount {
    text-align: right;
  }

  tr.subtotal-heading {
    color: #777;
    font-weight: bold;
    font-style: italic;
  }

  tr.total {
    font-weight: bold;
    font-style: italic;
  }

  tr:last-child td {
    border-bottom: none;
  }

  caption {
    text-align: left;
    font-style: italic;
    margin: 0.4rem 0;

    h3 {
      margin-bottom: 0;
    }
  }
}

.layout--post .page-wrapper {
  @include breakpoint($large) {
    grid-template-columns: none;
    -webkit-box-pack: inherit;
    -ms-flex-pack: inherit;
    justify-content: space-between;
  }
}

.dt-published {
  display: none;
}

.site-footer {
  .mailchimp-form {
    margin-bottom: 2rem;

    h2 {
      margin-bottom: 1rem;
    }

    .mc-field-group, .submit-form {
      display: inline-block;
    }
  }
}
