---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

$accent-color: tomato;
@import "so-simple";

figure {
  background: #e9e7e5;

  figcaption {
    background: #e3e2e0;
    font-style: italic;
    margin: 0;
    padding: 0.5rem;

    .credit {
      font-style: normal;
      opacity: 0.8;
      margin-left: 0.2rem;
    }
  }

  img {
    max-height: 70vh;
    display: block;
    margin: auto;
  }
}

.layout--post .page-wrapper {
  @include breakpoint($large) {
    display: block;
    -webkit-box-pack: inherit;
    -ms-flex-pack: inherit;
    justify-content: space-between;
  }
}

.site-footer {
  .mailchimp-form {
    margin-bottom: 2rem;

    h2 {
      margin-bottom: 1rem;
    }

    .mc-field-group, .submit-form {
      display: inline-block;
    }
  }
}
